body {
	padding: 0;
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	overflow-x: hidden;

	-webkit-font-smoothing: antialiased;
	-webkit-overflow-scrolling:touch;
}

h1, h2, h3, h5, h6
{
	padding: 0;
	margin: 0;
	color: #FFF;
	font-size: 30px;
	font-weight: 700;
	letter-spacing: 0.02em
}

p
{
	color: #FFF
}

.centered
{
	text-align: center;
}

ul, li
{
	display: block;
	padding: 0;
	margin: 0;
}

.header
{
	padding-top: 2%;
	background: linear-gradient(45deg, #377BFF, #3A7DFF)
}

header a
{
	color: #FFF;
}

a
{
	color: #FFF;
}

a:hover
{
	font-weight:bold;
	color: #FFF;
}

header a:hover
{
	font-weight:bold;
	color: #FFF;
}

hr
{
	display: block;
	height: 1px;
	border:0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding:0;
}

.navbar
{
	display: flex;
}

.nav a
{
	text-decoration: none;
	font-style: 14px;

}

.nav-link
{
	margin-right: 35px;
	letter-spacing: 0.1em;
}

.tel
{
	text-decoration: none;
	font-style: 14px;
	margin-left: auto;
}


.bg
{
	width: 100%;
}

.click
{
	font-size: 14px;
	text-decoration: none;
	margin-top: 50px;
}

.offer
{
	background: linear-gradient(45deg, #377BFF, #3A7DFF)
}

.offer a
{
	color: #FFF;
}

.offer a:hover
{
	font-weight:bold;
	color: #FFF;
}

.about
{
	margin-top: 40px;

}

.about h1
{
	color: #000;
	margin-bottom: 30px;
}

.about p
{
	color: #000;
}


.service
{
	margin-top: 40px;

}

.service h1
{
	color: #000;
	margin-bottom: 15px;
}

.service p
{
	color: #000;
}

.card
{
	border: none;
	background-color: rgba(0, 0, 0, 0)
}

.card-img-overlay
{
	margin-top: 40%;
	text-align: center;
}

.gall
{
	margin-top: 50px;
	background: linear-gradient(45deg, #377BFF, #3A7DFF);

}

.gall h1
{
	margin-bottom: 15px;
}

.foooter
{
	margin-top: 40px;
	margin-bottom: 40px;
}

.footer p
{
	color: #000;

}

/*Страница "О нас"*/
.aboutcompany
{
	background: linear-gradient(45deg, #377BFF, #3A7DFF);
}


.p__aboutcompany
{
	color: #000;
	font-size: 24px;
	font-family: 'Poiret One', cursive;
	text-align: justify;
	position: absolute;
	top: 0;
	margin-top: 20%;
	margin-left: 25%;
	margin-right: 10%;
}

.bg__aboutcompany
{
	padding-top: 8%;
	width: 100%;
	height: 95%;
}

.block__aboutcompany
{
    position: relative;
}

.block__aboutcompany::before {
    white-space: pre;
    content: "WEB \A STUDIO\A 2APP";
    line-height: 170px;
    position: absolute;
    left: 0;
    color: white;
    font-size: 144px;
    font-family: 'Poiret One', cursive;
    opacity: 0.7;
}

 .photo
{
	background: linear-gradient(45deg, #377BFF, #3A7DFF);
}

.aboutcompany2
{
	background: linear-gradient(45deg, #377BFF, #3A7DFF);

}

.p__aboutcompany2
{
	color: #000;
	font-size: 24px;
	font-family: 'Poiret One', cursive;
	text-align: justify;
	position: absolute;
	top: 0;
	margin-top: 10%;
	margin-left: 10%;

}

.bg__aboutcompany2
{
	width: 170%;
	height: 90%;
}

.block__aboutcompany2
{
  position: relative;
}

.block__aboutcompany2:after {
	white-space: pre;
  content: "We\A value our\A customers";
	color: white;
	font-size: 144px;
	font-family: 'Poiret One', cursive;
	opacity: 0.7;
	line-height: 150px;
	width: 100%;
}

.clients
{
	background: linear-gradient(45deg, #377BFF, #3A7DFF);

}

.photo__clients
{
	width: 250px;
}

/*Страница "Наши услуги"*/

.aboutservices
{
	background: linear-gradient(45deg, #377BFF, #3A7DFF);

}

.p__aboutservices
{
	color: #000;
	font-size: 24px;
	font-family: 'Poiret One', cursive;
	text-align: justify;
	position: absolute;
	top: 0;
	margin-top: 20%;
	margin-left: 25%;
	margin-right: 10%;
}

.bg__aboutservices
{
	padding-top: 8%;
	width: 100%;
	height: 95%;
}

.block__aboutservices
{
    position: relative;
}

.block__aboutservices::before {
    white-space: pre;
    content: "Наши\A услуги";
    line-height: 170px;
    position: absolute;
    left: 0;
    color: white;
    font-size: 144px;
    font-family: 'Poiret One', cursive;
    opacity: 0.7;
}

.services
{
	background: linear-gradient(45deg, #377BFF, #3A7DFF);
}


/*Страница "Наши работы"*/

.aboutgall
{
	background: linear-gradient(45deg, #377BFF, #3A7DFF);

}

.p__aboutgall
{
	color: #000;
	font-size: 24px;
	font-family: 'Poiret One', cursive;
	text-align: justify;
	position: absolute;
	top: 0;
	margin-top: 20%;
	margin-left: 25%;
	margin-right: 10%;
}

.bg__aboutgall
{
	padding-top: 8%;
	width: 100%;
	height: 95%;
}

.block__aboutgall
{
    position: relative;
}

.block__aboutgall::before {
    white-space: pre;
    content: "Наши\A работы";
    line-height: 170px;
    position: absolute;
    left: 0;
    color: white;
    font-size: 144px;
    font-family: 'Poiret One', cursive;
    opacity: 0.7;
}

.galls
{
	background: linear-gradient(45deg, #377BFF, #3A7DFF);

}
/*Страница "Личный кабинет"*/
.cabinet
{
	background: linear-gradient(45deg, #377BFF, #3A7DFF);
}

.login
{
	background: linear-gradient(45deg, #377BFF, #3A7DFF);
}

.block__cabinet
{
    position: relative;
}

.block__cabinet::before {
    white-space: pre;
    content: "Личный\A кабинет";
    line-height: 170px;
    position: absolute;
    left: 0;
    color: white;
    font-size: 144px;
    font-family: 'Poiret One', cursive;
    opacity: 0.7;

}

.p__cabinet
{
	color: #000;
	font-size: 24px;
	font-family: 'Poiret One', cursive;
	text-align: justify;
	position: absolute;
	top: 0;
	margin-left: 45%;
	margin-right: 10%;
	margin-top: 15%;
}

.cabinet_inner
{
	background: linear-gradient(45deg, #377BFF, #3A7DFF);
}


.cabinet_inner h1
{
	font-family: Montserrat;
	font-style: normal;
	font-weight: 600;
	font-size: 45px;
	line-height: 59px;
	color: #FFFFFF;
	opacity: 0.7;
	text-shadow: 0px 4px 10px rgba(58, 125, 255, 0.85);
	display: inline-block;
}

.discription__cabinet
{
	background-color: rgba(255, 255, 255, 0.6);
	box-shadow: inset 0px 4px 4px rgba(58, 125, 255, 0.85);
	border-radius: 30px;
}


.p__discription__cabinet
{
	color: #000;
	font-size: 24px;
	font-family: 'Poiret One', cursive;
	text-align: justify;
	margin-left: 2%;
	margin-right: 5%;
	margin-top: 2%;
}




/*Страница "Внутренняя страница услуг"*/

.serviceinner
{
	background: linear-gradient(45deg, #377BFF, #3A7DFF);
}

.block__serviceinner
{
    position: relative;
}

.bg__serviceinner
{
	background-color: rgba(255, 255, 255, 0.6);
	box-shadow: inset 0px 4px 4px rgba(58, 125, 255, 0.85);
	border-radius: 30px;
	margin-top: 8%;
}

.block__serviceinner::before {
    white-space: pre;
    content: "Разработка\A сайтов";
    line-height: 170px;
    position: absolute;
    left: 0;
    color: white;
    font-size: 144px;
    font-family: 'Poiret One', cursive;
    opacity: 0.7;

}

.img_serviceinner
{
	margin-left: 70%;
}

.button {
      background-color: #FFF;
      border: none;
      color: black;
      text-align: center;
      text-decoration: none;
      display: block;
      font-size: 18px;
      margin: 20px 10px;
      cursor: pointer;
      font-family: 'Poiret One', cursive;
      width: 190px;
	  height: 56px;
	  filter: drop-shadow(0px 4px 4px #3A7DFF);
	  border-radius: 5px;
	  padding-top: 14px;
      }

.button:hover
{
	text-decoration: none;
	background-color: black;
	color: #FFF;
}

.price
{
	background: linear-gradient(45deg, #377BFF, #3A7DFF);
}

.price h1
{
	font-family: Montserrat;
	font-style: normal;
	font-weight: 600;
	font-size: 45px;
	line-height: 59px;
	color: #FFFFFF;
	opacity: 0.7;
	text-shadow: 0px 4px 10px rgba(58, 125, 255, 0.85);
	display: inline-block;
}

.button-orderservice
{
	  background-color: #FFF;
      border: none;
      color: black;
      text-align: center;
      text-decoration: none;
      display: block;
      font-size: 18px;
      margin: 10px 10px;
      cursor: pointer;
      font-family: 'Poiret One', cursive;
      width: 190px;
	  height: 56px;
	  filter: drop-shadow(0px 4px 4px #3A7DFF);
	  padding-top: 14px;
	  border-radius: 5px;
	  margin-left: 25%;
}

.button-orderservice:hover
{
	text-decoration: none;
	background-color: black;
	color: #FFF;
}

.discription
{
	background: linear-gradient(45deg, #377BFF, #3A7DFF);
}

.discription h1
{
	font-family: Poiret One;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	line-height: 42px;
	color: #000000;
	padding-top: 3%;
	text-indent: 1%;
}

.discription__inner
{
	background-color: rgba(255, 255, 255, 0.6);
	box-shadow: inset 0px 4px 4px rgba(58, 125, 255, 0.85);
	border-radius: 30px;
}

.discription__card
{
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	text-align: center;
	color: #000000;
	margin-top: 15%;
	margin-bottom: 15%;
}

.discription p
{
	color:white;
	margin-left: 2%;
}


.discription__card p
{
	color:black;
}

/*Страница "Внутренняя страница работ"*/

.gallinner
{
		padding-bottom: 0.4%;
		background: linear-gradient(45deg, #377BFF, #3A7DFF);
}


.block__gallinner
{
    position: relative;
}

.block__gallinner::before {
    white-space: pre;
    content: "Разработка \A интернет\Aмагазина";
    line-height: 170px;
    position: absolute;
    left: 0;
    color: white;
    font-size: 144px;
    font-family: 'Poiret One', cursive;
    opacity: 0.7;
}

.p__gallinner
{
	color: #000;
	font-size: 24px;
	font-family: 'Poiret One', cursive;
	text-align: justify;
	position: absolute;
	top: 0;
	margin-left: 45%;
	margin-right: 10%;
	margin-top: 5%;
}

.bg__gallinner
{
	background-color: rgba(255, 255, 255, 0.6);
	box-shadow: inset 0px 4px 4px rgba(58, 125, 255, 0.85);
	border-radius: 30px;
	margin-top: 8%;
}

.button__gallinner
{
	  background-color: #FFF;
      border: none;
      color: black;
      text-align: center;
      text-decoration: none;
      display: block;
      font-size: 18px;
      margin: 150px 10px;
      cursor: pointer;
      font-family: 'Poiret One', cursive;
      width: 190px;
	  height: 56px;
	  filter: drop-shadow(0px 4px 4px #3A7DFF);
	  padding-top: 14px;
	  border-radius: 5px;
	  margin-left: 46%;
	  margin-top: 30%;
}

.button__gallinner:hover
{
	text-decoration: none;
	background-color: black;
	color: #FFF;
}

.gallinner2
{
	background: linear-gradient(45deg, #377BFF, #3A7DFF);

}

.p__gallinner2
{
	color: #000;
	font-size: 24px;
	font-family: 'Poiret One', cursive;
	text-align: justify;
	position: absolute;
	top: 0;
	margin-top: 10%;
	margin-left: 10%;

}

.bg__gallinner2
{
	width: 170%;
	height: 90%;
}

.block__gallinner2
{
  position: relative;
}

.block__gallinner2:after {
	white-space: pre;
    content: "We\A value our\A customers";
	color: white;
	font-size: 144px;
	font-family: 'Poiret One', cursive;
	opacity: 0.7;
	line-height: 150px;
	width: 100%;
}

/*Страница "Сделай заказ"*/

.order
{
	background: linear-gradient(45deg, #377BFF, #3A7DFF);
}

.block__order
{
    position: relative;
}

.block__order::before {
    white-space: pre;
    content: "Рассчитать\A стоимость";
    line-height: 170px;
    position: absolute;
    left: 0;
    color: white;
    font-size: 144px;
    font-family: 'Poiret One', cursive;
    opacity: 0.7;

}

.p__order
{
	color: #000;
	font-size: 24px;
	font-family: 'Poiret One', cursive;
	text-align: justify;
	position: absolute;
	top: 0;
	margin-left: 45%;
	margin-right: 10%;
	margin-top: 15%;
}


.bg__order
{
	padding-top: 11%;
	width: 100%;
	height: 95%;
}

.brif__order
{
	background: linear-gradient(45deg, #377BFF, #3A7DFF);

}

.brif__input
{
	background: #FFFFFF;
	box-shadow: inset 0px 4px 4px rgba(58, 125, 255, 0.85);
	border-radius: 30px;
	border:none;
	height: 200px;
	margin-bottom: 5%;
	width: 100%;


}

.brif_input:active, :hover, :focus
{
	outline:none;
	border: none;
	outline: 0;
    outline-offset: 0;

}
.brif__input2
{
	background: #FFFFFF;
	box-shadow: inset 0px 4px 4px rgba(58, 125, 255, 0.85);
	border-radius: 30px;
	border:none;
	height: 70px;
	margin-bottom: 5%;
	width: 100%;


}

.brif_input2:active, :hover, :focus
{
	outline:none;
	border: none;
	outline: 0;
  outline-offset: 0;

}
.button-order
{
	  background-color: #FFF;
      border: none;
      color: black;
      text-align: center;
      text-decoration: none;
      font-size: 18px;
      cursor: pointer;
      font-family: 'Poiret One', cursive;
      width: 190px;
	  height: 56px;
	  filter: drop-shadow(0px 4px 4px #3A7DFF);
	  padding-top: 14px;
	  border-radius: 5px;
	  display: flex;
  	  justify-content: center;
  	  margin-left: 42%;

}

.button-order:hover
{
	text-decoration: none;
	background-color: black;
	color: #FFF;
}

/*Страница Администратора"*/
.PotentialСlient
{
		background: linear-gradient(45deg, #377BFF, #3A7DFF);
}

.PotentialСlient h1
{
	margin-bottom: 3%;
}

.PotentialСlient a
{
	color: white;
}

.p__PotentialСlient
{
	font-size: 14px;
	text-align: justify;
}

/*Адаптация страниц"*/

@media (max-width:1200px)
{
/*Адаптация страницы "О нас" */

.block__aboutcompany::before
{
	white-space: pre;
    content: "WEB \A STUDIO\A 2APP";
    line-height: 100px;
    position: static;
    left: 0;
    color: white;
    font-size: 90px;
    font-family: 'Poiret One', cursive;
    opacity: 0.7;
    width: 100%;
}
.block__aboutcompany2::after
{
	display:none;
}

.p__aboutcompany
{
	position: inherit;
	margin-left: 0%;
	margin-right: 0%;
	margin-top: 0%;
}

.p__aboutcompany2
{
	position: inherit;
	margin-left: 5%;
	margin-right: 5%;
}


.bg__aboutcompany, .bg__aboutcompany2
{
	display:none;
}

.photo__clients
{
	width: 100%;
}


/*Адаптация страницы "Наши услуги" */

.block__aboutservices::before
{
	white-space: pre;
    content: "Наши\A услуги";
    line-height: 100px;
    position: static;
    left: 0;
    color: white;
    font-size: 90px;
    font-family: 'Poiret One', cursive;
    opacity: 0.7;
    width: 100%;
}

.p__aboutservices
{
	position: inherit;
	margin-left: 0%;
	margin-right: 0%;
	margin-top: 0%;
}

.bg__aboutservices
{
	display:none;
}

/*Адаптация страницы "Наши работы" */

.block__aboutgall::before
{
	white-space: pre;
    content: "Наши\A работы";
    line-height: 100px;
    position: static;
    left: 0;
    color: white;
    font-size: 90px;
    font-family: 'Poiret One', cursive;
    opacity: 0.7;
    width: 100%;
}

.p__aboutgall
{
	position: inherit;
	margin-left: 0%;
	margin-right: 0%;
	margin-top: 0%;
}

.bg__aboutgall
{
	display:none;
}





/*Адаптация страницы "Внутренняя страница услуг" */

.block__serviceinner::before
{
	white-space: pre;
    content: "Разработка\A сайта";
    line-height: 50px;
    position: static;
    left: 0;
    color: white;
    font-size: 65px;
    font-family: 'Poiret One', cursive;
    opacity: 0.7;
    width: 100%;
}

.p__serviceinner
{
	position: inherit;
	margin-left: 0%;
	margin-right: 0%;
	margin-top: 0%;
}

.bg__serviceinner
{
	display:none;
}

.img_serviceinner

{
	display:none;
}

.img2_serviceinner
{
	width: 100%;
}


.button {
      margin: 20px 70px;
      }

.button-orderservice
{
	margin-left: 20%;
}


/*Адаптация страницы "Внутренняя страница работ" */

.block__gallinner::before
{
	white-space: pre;
    content: "Разработка\A сайта";
    line-height: 50px;
    position: static;
    left: 0;
    color: white;
    font-size: 65px;
    font-family: 'Poiret One', cursive;
    opacity: 0.7;
    width: 100%;
}
.block__gallinner2::after
{
	display:none;
}

.p__gallinner
{
	position: inherit;
	margin-left: 0%;
	margin-right: 0%;
	margin-top: 0%;
}

.p__gallinner2
{
	position: inherit;
	margin-left: 5%;
}


.bg__gallinner2
{
	display: none;
}

.button__gallinner

{
	  margin: 10px 10px;
	  margin-left: 1%;
	  margin-top: 5%;
}
/*Адаптация страницы "Сделать заказ" */

.block__order::before
{
	white-space: pre;
    content: "Рассчитать\Aстоимость";
    line-height: 50px;
    position: static;
    left: 0;
    color: white;
    font-size: 65px;
    font-family: 'Poiret One', cursive;
    opacity: 0.7;
    width: 100%;
}

.p__order
{
	position: inherit;
	margin-left: 0%;
	margin-right: 0%;
	margin-top: 0%;
}

.bg__order
{
	display:none;
}

.button-order
{
  	  margin-left: 25%;
}